/*
SVG Icon Names
-----------------
icon-angle-right
icon-bookmark
icon-chat
icon-directions-car
icon-location-city
icon-location-on
icon-map
icon-plane
icon-search
icon-star-half
icon-star
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --font-size-xs: 1.2rem;
  --font-size-small: 1.4rem;
  --default-font-size: 1.6rem;
  --font-size-big: 2rem;
  --font-size-xl: 2.5rem;
  --default-shadow: 0 1rem 6rem rgba(0, 0, 0, .5);
  --shadow-light: 0 1rem 2rem rgba(0, 0, 0, .25);
  --hotel-overview-padding: 2rem;
  --line: 1px solid var(--color-grey-light-4); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-family: sans-serif;
  font-size: 62.5%;
  /*@include respond(tablet-land) {
        font-size: 56.25%; //1rem = 9px = 9/16 = 56.25%
    }

    @include respond(tablet-por) {
        font-size: 50%; //1rem = 8px = 8/16 = 50%
    }

    @include respond(phone) {
        font-size: 50%; //1rem = 8px = 8/16 = 50%
    }

    @include respond(desktop-large) {
        font-size: 75%; //1rem = 12px = 12/16 = 75%*/ }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-1);
  line-height: 1.6rem;
  min-height: 100vh; }

body {
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  background-color: var(--color-grey-light-1);
  box-shadow: var(--default-shadow);
  margin: 10rem 0;
  flex: 0 1 80%;
  flex-wrap: wrap; }

.header {
  background-color: var(--color-white);
  border-bottom: var(--line);
  font-size: var(--font-size-xs);
  height: 7rem;
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  justify-content: space-between; }

.content {
  display: flex;
  align-items: stretch; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.detail {
  background-color: var(--color-white);
  border-bottom: var(--line);
  padding: 4.5rem;
  display: flex;
  align-items: stretch; }

.description {
  background-color: var(--color-grey-light-3);
  box-shadow: var(--shadow-light);
  font-size: var(--font-size-small);
  margin-right: 4.5rem;
  padding: 3rem;
  flex: 0 0 60%; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  border-bottom: var(--line);
  border-top: var(--line);
  list-style-type: none;
  margin: 3rem 0;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    margin-right: .5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url("../img/svg/angle-right.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-image: url("../img/svg/angle-right.svg");
    mask-repeat: no-repeat;
    mask-size: contain; }

.recommend {
  color: var(--color-grey-dark-2);
  display: flex;
  align-items: center; }
  .recommend__count {
    font-size: var(--font-size-small);
    margin-right: auto; }
  .recommend__photo {
    border: 3px solid var(--color-grey-light-3);
    border-radius: 50%;
    box-sizing: content-box;
    height: 3rem;
    width: 3rem; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.2rem; }

.reviews {
  background-color: var(--color-grey-light-3);
  box-shadow: var(--shadow-light);
  flex: 1; }

/*==========================
            HEADER
===========================*/
.logo {
  height: 3.25rem;
  margin: 0 0 0 2rem; }

.search {
  display: flex;
  align-items: center;
  flex: 0 0 40%;
  justify-content: center; }
  .search__input {
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 5rem;
    color: var(--color-grey-dark-2);
    font-family: inherit;
    font-size: inherit;
    margin-right: -3.5rem;
    padding: .8rem 2rem;
    transition: all .4s;
    width: 85%; }
    .search__input::placeholder {
      color: var(--color-grey-light-4);
      font-size: inherit;
      font-weight: 100; }
    .search__input:focus {
      background-color: var(--color-grey-light-3);
      outline: none;
      width: 100%; }
  .search__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; }
    .search__button:active {
      transform: translateY(1px); }
  .search__icon {
    fill: var(--color-grey-dark-3);
    height: 2rem;
    width: 2rem; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    cursor: pointer;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    align-self: stretch; }
    .user-nav > *:hover {
      background-color: var(--color-grey-light-4); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    fill: var(--color-grey-dark-2);
    height: 2.5rem;
    width: 2.5rem; }
  .user-nav__notification {
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
    font-size: .8rem;
    height: 1.7rem;
    width: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem; }
  .user-nav__user {
    color: var(--color-grey-dark-2);
    padding: 2rem; }
  .user-nav__user-name {
    font-size: var(--defaultfont-size); }
  .user-nav__user-photo {
    border-radius: 50%;
    height: 4rem;
    margin-right: 1rem;
    width: 4rem; }

/*==========================
            SIDEBAR
===========================*/
.side-nav {
  font-size: var(--font-size-small);
  list-style: none;
  margin-top: 2.5rem; }
  .side-nav__item {
    position: relative;
    text-transform: uppercase;
    transition: all .3s; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    background-color: var(--color-primary);
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(0.83, 0, 0.17, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__icon {
    fill: currentColor;
    margin-right: 2rem;
    height: 2.5rem;
    width: 2.5rem; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    padding: 1rem 2.5rem;
    position: relative;
    text-decoration: none;
    transition: all .2s ease;
    z-index: 15;
    display: flex;
    align-items: center; }
    .side-nav__link:link:hover, .side-nav__link:visited:hover {
      opacity: 1; }

.legal {
  padding: 2rem;
  text-align: center; }

/*==========================
    MAIN (.hotel-view)
===========================*/
.gallery {
  display: flex; }
  .gallery__photo {
    display: block;
    width: 100%; }

.overview {
  background: var(--color-white);
  border-bottom: var(--line);
  display: flex;
  align-items: center; }
  .overview__heading {
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 2.5rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-star, .overview__icon-location {
    fill: var(--color-primary);
    height: 2rem;
    width: 2rem; }
  .overview__location {
    font-size: var(--font-size-small);
    padding: 0 2rem;
    display: flex; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__rating {
    background: var(--color-primary);
    color: var(--color-grey-light-1);
    font-size: var(--font-size-big);
    padding: 0 2rem;
    text-align: center;
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex-direction: column; }
    .overview__rating--avg {
      font-size: var(--font-size-xl);
      font-weight: 100;
      margin-bottom: .5rem; }
    .overview__rating--count {
      font-size: var(--font-size-xs);
      text-transform: uppercase; }

/*==========================
    BUTTON INLINE
===========================*/
.btn-inline {
  background: transparent;
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding-bottom: 2px;
  transition: all .2s; }
  .btn-inline:hover {
    color: var(--color-grey-dark-4); }
  .btn-inline:focus {
    outline: none; }
