/*==========================
            HEADER
===========================*/

//~~~~~~~~~~~~~~~~~~~~~~~
//Header Logo
.logo {
    height: 3.25rem;
    margin: 0 0 0 2rem;
}

.logo-word {
    font-size: var(--font-size-xl);
    margin: 0 auto 0 2rem;
    //Flex styles
    display: flex;

    span {
        align-self: flex-start;
        font-size: var(--font-size-xs);
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~
//Header Search Bar
.search {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    justify-content: center;

    @media only screen and (max-width: 31.25em) {
        flex: 0 0 75%;
        order: 1;
        margin: 0 auto 2rem;
    }



    &__input {
        background-color: var(--color-grey-light-2);
        border: 1px solid var(--color-grey-light-4);
        border-radius: 5rem;
        color: var(--color-grey-dark-2);
        font-family: inherit;
        font-size: inherit;
        margin-right: -3.5rem;
        padding: .8rem 2rem;
        transition: all .4s;
        width: 85%;

        &::placeholder {
            color: var(--color-grey-light-4);
            font-size: inherit;
            font-weight: 100;
        }

        &:focus {
            background-color: var(--color-grey-light-3);
            outline: none;
            width: 100%;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;

        &:active {
            transform: translateY(1px);
        }
    }

    &__icon {
        fill: var(--color-grey-dark-3);
        height: 2rem;
        width: 2rem;
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~
//Header Nav & Icons
.user-nav {
    position: relative;
    //Flex Styles
    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
    //Direct child elements of .user-nav
        cursor: pointer;
        padding: 0 2rem;
        //Flex styles
        display: flex;
        align-items: center;
        align-self: stretch;

        &:hover,
        &:active {
            background-color: var(--color-grey-light-4);
        }

        &:focus {
            background-color: var(--color-grey-light-4);
        }
    }


    &__icon-box {
        position: relative;

    }

    &__icon {
        fill: var(--color-grey-dark-2);
        height: 2.5rem;
        width: 2.5rem;

        @media only screen and (max-width: $bp-small) {
            height: 2rem;
            width: 2rem;
        }

        @media only screen and (max-width: 44.37em) {
            height: 3rem;
            width: 3rem;
        }
    }

    &__notification {
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-grey-light-1) ;
        font-size: .8rem;
        height: 1.7rem;
        width: 1.7rem;
        //Flex styles
        display: flex;
        align-items: center;
        justify-content: center;
        //Positioning of notification badge
        position: absolute;
        top: 1.5rem;
        right: 1.2rem;

        @media only screen and (max-width: 44.37em) {
            font-size: 1.1rem;

        }
    }

    &__user {
        color: var(--color-grey-dark-2);
        padding: 2rem;

        & > *:hover:not(:last-child) {
            cursor: pointer;
        }
    }


    &__user-name {
        font-size: var(--defaultfont-size);
        display: flex;
        align-items: center;

        span {
            @media only screen and (max-width: $bp-small) {
                display: none;
            }
        }
    }

    &__user-photo {
        border-radius: 50%;
        height: 4rem;
        margin-right: 1rem;
        width: 4rem;
    }


}

/*==========================
    NAV DROP DOWN MENU
===========================*/
.dropdown {
    background-image: linear-gradient(180deg, var(--color-primary) 0, var(--color-primary) 23%, var(--color-grey-light-1) 23%);
    border-radius: 5px;
    cursor: default;
    position: relative;
    width: 30rem;
    display: none;
    flex-direction: column;
    position: absolute;
        top: 100%;
        right: 0;
    transition: all .5s;
    z-index: 100;

    @media only screen and (max-width: 37.5em) {
        background-image: linear-gradient(180deg, var(--color-primary) 0, var(--color-primary) 18rem, var(--color-grey-light-1) 18rem);
        border: 1px solid var(--color-white);
        border-radius: 1rem;
        display: flex;
        font-size: 2rem;
        opacity: 0;
        position: fixed;
        height: 99vh;
        width: 99vw;
        visibility: hidden;
        top: 0;

        transform: translateY(100%);
    }

    &__close-btn {
        color: var(--color-white);
        font-family: sans-serif;
        font-size: 2rem;
        font-weight: 600;
        position: absolute;
            top: 2.5rem;
            right: 2.5rem;
    }


    &__title {
        color: var(--color-grey-light-1);
        font-size: var(--font-size-xl);
        font-weight: 300;
        margin: 0;
        margin: 4rem 0 1rem;
        //Flex Styles
        align-self: center;

        @media only screen and (max-width: 37.5em) {
            font-size: 3rem;
            margin: 5rem 0 2rem;
        }
    }

    &__photo {
        border: 3px solid var(--color-white);
        border-radius: 50%;
        margin: 1rem;
        height: 5.5rem;
        width: 5.5rem;
        //Flex Styles
        align-self: center;

        @media only screen and (max-width: 37.5em) {
            height: 13rem;
            width: 13rem;
        }
    }

    &__user-name {
        font-size: 1.4rem;
        font-weight: 600;
        //Flex Styles
        align-self: center;

        @media only screen and (max-width: 37.5em) {
            font-size: 3rem;
        }
    }

    &__icon-tray {
        list-style: none;
        padding: 1rem;
        width: 50%;
        //Flex styles
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 37.5em) {
            padding: 3.5rem;
        }
    }

    &__icon {
        border: 1px solid var(--color-grey-dark-2);
        border-radius: 50%;
        fill: var(--color-grey-dark-1);
        height: 1.5rem;
        width: 1.5rem;
        padding: .5rem .5rem;

        @media only screen and (max-width: 37.5em) {
            height: 3.5rem;
            width: 3.5rem;
        }

        &:hover {
            background-color: var(--color-grey-dark-2);
            cursor: pointer;
            fill: var(--color-grey-light-2);
        }
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-dark-1);
        font-weight: 300;
        text-decoration: none;

    }

    &__settings {
        list-style: none;

        &-item {
            padding: .5rem 1.5rem;

            @media only screen and (max-width: 37.5em) {
                padding: 2.25rem 2.5rem;
            }

            &:hover {
                background-color: var(--color-grey-dark-2);
            }

            &:hover .dropdown__link {
                color: var(--color-grey-light-1);
            }
        }
    }

    &__fam-hub-heading {
        padding: 1rem;
        display: flex;

        @media only screen and (max-width: 37.5em) {
            padding: 2rem;
        }

        &-title {
            font-weight: 600;
            margin-right: auto;

        }

        &-add-more:link,
        &-add-more:visited {
            border-radius: 50%;
            color: var(--color-grey-dark-1);
            font-size: 2rem;
            text-align: center;
            text-decoration: none;

            @media only screen and (max-width: 37.5em) {
                font-size: 4rem;
            }
        }

        &-add-more:hover {
            color: var(--color-primary);
        }
    }

    &__fam-hub {
        list-style: none;
        display: flex;
        flex: 1;
        flex-direction: column;

        &-member {
            padding: 1.3rem 1.5rem;

            @media only screen and (max-width: 37.5em) {
                padding: 3rem 1.5rem;
            }

            &:last-of-type {
                margin-bottom: 1.5rem;
            }

            &:hover {
                background-color: var(--color-grey-dark-2);
            }

            &:hover .dropdown__link {
                color: var(--color-grey-light-1);
            }
        }

        &-photo {
            background: var(--color-grey-dark-3);
            border: 1px solid var(--color-grey-light-2);
            border-radius: 50%;
            color: var(--color-grey-light-2);
            font-weight: 600;
            margin-right: .5rem;
            padding: .5rem .75rem;

            @media only screen and (max-width: 37.5em) {
                font-size: 2rem;
                padding: 1rem 1.5rem;
            }
        }
    }
}

#dd-toggle:checked ~ .dropdown {
    display: flex;

    @media only screen and (max-width: 37.5em) {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

#dd-toggle {
    display: none;
}


/*==========================
            SIDEBAR
===========================*/
//~~~~~~~~~~~~~~~~~~~~~~~
//Side Nav & Icons

.side-nav {
    font-size: var(--font-size-small);
    list-style: none;
    margin-top: 2.5rem;
    //Flex Styles
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-med-1) {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
    }

    &__item {
        position: relative;
        text-transform: uppercase;
        transition: all .3s;

        @media only screen and (max-width: $bp-med-1) {
            display: flex;
            flex: 25%;
            justify-content: center;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;

            @media only screen and (max-width: $bp-med-1) {
                margin-bottom: 0;
            }
        }
    }

    &__item::before {
        //Selector for list item highlight
        background-color: var(--color-primary);
        content: "";
        height: 100%;
        width: 3px;
        position: absolute;
            top: 0;
            left: 0;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(0.83, 0, 0.17, 1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        //Show and fill list item on hover
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        //Lighten hightlight bg-color on click
        background-color: var(--color-primary-light);
    }

    &__icon {
        fill: currentColor;
        //currentColor will inherit color of parent div (.icon__link)
        margin-right: 2rem;
        height: 2.5rem;
        width: 2.5rem;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: .5rem;
        }

        @media only screen and (max-width: 31.25em) {
            height: 2.2rem;
            width: 2.2rem;
        }
    }

    &__link:link,
    &__link:visited{
        color: var(--color-grey-light-1);
        padding: 1rem 2.5rem;
        position: relative;
        text-decoration: none;
        transition: all .2s ease;
        z-index: 15;
        //Flex styles
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            text-align: center;
        }

        @media only screen and (max-width: 37.5em) {
            font-size: 1rem;
            padding: 1rem;
        }


        &:hover {
            opacity: 1;

        }
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~
//Coppyright Text

.legal {
    padding: 2rem;
    text-align: center;

    @media only screen and (max-width: $bp-med-1) {
        display: none;
    }
}

/*==========================
    MAIN (.hotel-view)
===========================*/

//~~~~~~~~~~~~~~~~~~~~~~~
//Picture Gallery

.gallery {
    display: flex;

    &__item {

        &:not(:first-of-type) {
            @media only screen and (max-width: 37.5em) {
                display: none;
            }
        }
    }

    &__photo {
        display: block;
        width: 100%;
    }
}


.overview {
    background: var(--color-white);
    border-bottom: var(--line);
    //Flex Styles
    display: flex;
    align-items: center;

    @media only screen and (max-width: 50.9em) {
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 22.5em) {
        //justify-content: flex-start;
    }

    &__heading {
        font-size: 2.5rem;
        font-weight: 100;
        letter-spacing: 1px;
        margin: 2.5rem;

        @media only screen and (max-width: 50.9em) {
            margin: 1.5rem;
            flex: 100%;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;

        @media only screen and (max-width: 50.9em) {
            margin-right: 0;
            margin-left: 2rem;
            order: 2;
        }

        @media only screen and (max-width: 22.5em) {
            margin-left: 0;
        }
    }

    &__icon-star,
    &__icon-location {
        fill: var(--color-primary);
        height:2rem;
        width: 2rem;
    }

    &__location {
        font-size: var(--font-size-small);
        padding: 0 2rem;
        display: flex;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background: var(--color-primary);
        color: var(--color-grey-light-1);
        font-size: var(--font-size-big);
        padding: 0 2rem;
        text-align: center;
        //Flex styles
        display: flex;
        align-self: stretch;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: 50.9em) {
            margin-left: auto;
            order: 3;
            padding: 1.5rem 2rem;
        }

        @media only screen and (max-width: 22.5em) {
            padding: 1rem 1rem;
        }

        &--avg {
            font-size: var(--font-size-xl);
            font-weight: 100;
            margin-bottom: .5rem;

            @media only screen and (max-width: 31.25em) {
                font-size: var(--font-size-big);
            }
        }

        &--count {
            font-size: var(--font-size-xs);
            text-transform: uppercase;

            @media only screen and (max-width: 22.5em) {
                display: none;
            }
        }
    }
}

/*==========================
    BUTTON INLINE
===========================*/
.btn-inline {
    background: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding-bottom: 2px;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }


    &:hover {
        color: var(--color-grey-dark-4);

        span {
        margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {

    }
}

/*==========================
    CALL TO ACTION BUTTON
        (Book Now)
===========================*/
.btn {
    background-image: linear-gradient(135deg, var(--color-primary-light), var(--color-primary-dark));
    border: none;
    border-radius: 50px;
    box-shadow: 0 .5rem 10px rgba(0, 0, 0, .5);
    color: var(--color-white);
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: 100;
    margin-top: 2.5rem;
    overflow: hidden;
    //^Hides btn__invisible when not in hover state
    position: relative;
    text-transform: uppercase;
    transition: all .2s;

    & > * {
    //Selects child elements of .btn (&__visible and &__invisible)
        display: inline-block;
        height: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        padding: 2rem 0;
        position: absolute;
            left: 0;
            top: -100%;
        width: 100%;
    }


    &:hover {
        animation: pulsate 1s infinite;
        background-image: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary-light));

        & .btn__visible {
            transform: translateY(100%);
        }

        & .btn__invisible {
            top: 0;
        }
    }

    &:focus {
        outline: none;
    }
}

/*==========================
    USER REVIEW SECTION
===========================*/

.review {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    font-weight: 100;
    margin-bottom: 2.5rem;
    padding: 2rem;
    position: relative;
    //Flex Styles
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    &::before {
        content: "\201C"; //CSS input for Left Double Quotaton
        color: var(--color-grey-light-3);
        font-family: cursive;
        font-size: 15rem;
        position: absolute;
            top: 5rem;
            left: -1rem;
        z-index: 1;
    }


    &__text {
        flex: 0 0 100%;
        position: relative;
        z-index: 10;
    }

    &__user {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        //Flex Styles
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__photo {
        border-radius: 50%;
        margin-right: .5rem;
        height: 3.5rem;
        width: 3.5rem;
        flex: 0 0;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__user-date {
        font-size: .9rem;
        line-height: 1rem;
    }

    &__user-rating {
        color: var(--color-primary);
        font-size: 2.5rem;
    }
}
