/*==========================
            HEADER
===========================*/

//~~~~~~~~~~~~~~~~~~~~~~~
//Header Logo
.logo {
    height: 3.25rem;
    margin: 0 0 0 2rem;
}

//~~~~~~~~~~~~~~~~~~~~~~~
//Header Search Bar
.search {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    justify-content: center;



    &__input {
        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 5rem;
        color: var(--color-grey-dark-2);
        font-family: inherit;
        font-size: inherit;
        margin-right: -3.5rem;
        padding: .8rem 2rem;
        transition: all .4s;
        width: 85%;

        &::placeholder {
            color: var(--color-grey-light-4);
            font-size: inherit;
            font-weight: 100;
        }

        &:focus {
            background-color: var(--color-grey-light-3);
            outline: none;
            width: 100%;
        }
    }

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;

        &:active {
            transform: translateY(1px);
        }
    }

    &__icon {
        fill: var(--color-grey-dark-3);
        height: 2rem;
        width: 2rem;
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~
//Header Nav & Icons
.user-nav {
    //Flex Styles
    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
    //Direct child elements of .user-nav
        cursor: pointer;
        padding: 0 2rem;
        //Flex styles
        display: flex;
        align-items: center;
        align-self: stretch;

        &:hover {
            background-color: var(--color-grey-light-4);
        }
    }

    &__icon-box {
        position: relative;

    }

    &__icon {
        fill: var(--color-grey-dark-2);
        height: 2.5rem;
        width: 2.5rem;
    }

    &__notification {
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-grey-light-1) ;
        font-size: .8rem;
        height: 1.7rem;
        width: 1.7rem;
        //Flex styles
        display: flex;
        align-items: center;
        justify-content: center;
        //Positioning of notification badge
        position: absolute;
        top: 1.5rem;
        right: 1.2rem;
    }

    &__user {
        color: var(--color-grey-dark-2);
        padding: 2rem;
    }

    &__user-name {
        font-size: var(--defaultfont-size);
    }

    &__user-photo {
        border-radius: 50%;
        height: 4rem;
        margin-right: 1rem;
        width: 4rem;
    }
}

/*==========================
            SIDEBAR
===========================*/
//~~~~~~~~~~~~~~~~~~~~~~~
//Side Nav & Icons

.side-nav {
    font-size: var(--font-size-small);
    list-style: none;
    margin-top: 2.5rem;

    &__item {
        position: relative;
        text-transform: uppercase;
        transition: all .3s;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item::before {
        //Selector for list item highlight
        background-color: var(--color-primary);
        content: "";
        height: 100%;
        width: 3px;
        position: absolute;
            top: 0;
            left: 0;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(0.83, 0, 0.17, 1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        //Show and fill list item on hover
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        //Lighten hightlight bg-color on click
        background-color: var(--color-primary-light);
    }

    &__icon {
        fill: currentColor;
        //currentColor will inherit color of parent div (.icon__link)
        margin-right: 2rem;
        height: 2.5rem;
        width: 2.5rem;
    }

    &__link:link,
    &__link:visited{
        color: var(--color-grey-light-1);
        padding: 1rem 2.5rem;
        position: relative;
        text-decoration: none;
        transition: all .2s ease;
        z-index: 15;
        //Flex styles
        display: flex;
        align-items: center;


        &:hover {
            opacity: 1;

        }
    }
}

//~~~~~~~~~~~~~~~~~~~~~~~
//Coppyright Text

.legal {
    padding: 2rem;
    text-align: center;
}

/*==========================
    MAIN (.hotel-view)
===========================*/

//~~~~~~~~~~~~~~~~~~~~~~~
//Picture Gallery

.gallery {
    display: flex;

    &__item {

    }

    &__photo {
        display: block;
        width: 100%;
    }
}


.overview {
    background: var(--color-white);
    border-bottom: var(--line);
    //Flex Styles
    display: flex;
    align-items: center;

    &__heading {
        font-size: 2.5rem;
        font-weight: 100;
        letter-spacing: 1px;
        margin: 2.5rem;
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        fill: var(--color-primary);
        height:2rem;
        width: 2rem;
    }

    &__location {
        font-size: var(--font-size-small);
        padding: 0 2rem;
        display: flex;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background: var(--color-primary);
        color: var(--color-grey-light-1);
        font-size: var(--font-size-big);
        padding: 0 2rem;
        text-align: center;
        //Flex styles
        display: flex;
        align-self: stretch;
        justify-content: center;
        flex-direction: column;

        &--avg {
            font-size: var(--font-size-xl);
            font-weight: 100;
            margin-bottom: .5rem;
        }

        &--count {
            font-size: var(--font-size-xs);
            text-transform: uppercase;
        }
    }
}

/*==========================
    BUTTON INLINE
===========================*/
.btn-inline {
    background: transparent;
    border: none;
    border-bottom: 1px solid currentColor;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding-bottom: 2px;
    transition: all .2s;

    & span {
        margin-left: 3px;
        transition: margin-left .2s;
    }


    &:hover {
        color: var(--color-grey-dark-4);

        span {
        margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
    }

    &:hover {

    }
}

/*==========================
    CALL TO ACTION BUTTON
        (Book Now)
===========================*/
.btn {
    background-image: linear-gradient(135deg, var(--color-primary-light), var(--color-primary-dark));
    border: none;
    border-radius: 50px;
    box-shadow: 0 .5rem 10px rgba(0, 0, 0, .5);
    color: var(--color-white);
    cursor: pointer;
    font-size: var(--font-size-big);
    font-weight: 100;
    margin-top: 2.5rem;
    overflow: hidden;
    //^Hides btn__invisible when not in hover state
    position: relative;
    text-transform: uppercase;
    transition: all .2s;

    & > * {
    //Selects child elements of .btn (&__visible and &__invisible)
        display: inline-block;
        height: 100%;
        transition: all .2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        padding: 2rem 0;
        position: absolute;
            left: 0;
            top: -100%;
        width: 100%;
    }


    &:hover {
        animation: pulsate 1s infinite;
        background-image: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary-light));

        & .btn__visible {
            transform: translateY(100%);
        }

        & .btn__invisible {
            top: 0;
        }
    }

    &:focus {
        outline: none;
    }
}

/*==========================
    USER REVIEW SECTION
===========================*/

.review {
    background-color: var(--color-white);
    box-shadow: var(--shadow-light);
    font-weight: 100;
    margin-bottom: 2.5rem;
    padding: 2rem;
    position: relative;
    //Flex Styles
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &::before {
        content: "\201C"; //CSS input for Left Double Quotaton
        color: var(--color-grey-light-3);
        font-family: cursive;
        font-size: 15rem;
        overflow: hidden;
        position: absolute;
            top: 5rem;
            left: -1rem;
        z-index: 1;
    }


    &__text {
        flex: 0 0 100%;
        position: relative;
        z-index: 10;
    }

    &__user {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        //Flex Styles
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__photo {
        border-radius: 50%;
        margin-right: .5rem;
        height: 3.5rem;
        width: 3.5rem;
        flex: 0 0;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {

        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;

    }

    &__user-date {
        font-size: .9rem;
        line-height: 1rem;
    }

    &__user-rating {
        color: var(--color-primary);
        font-size: 2.5rem;
    }

}
