body {
    ///Flex Styles
    display: flex;
        align-items: center;
        justify-content: center;
}

.container {
    background-color: var(--color-grey-light-2);
    box-shadow: var(--default-shadow);
    margin: 10rem 0;
    ///Flex Styles
    flex: 0 1 80%;
    flex-wrap: wrap;

}

.header {
    background-color: var(--color-grey-light-3);
    font-size: var(--font-size-xs);
    height: 7rem;
    ///Flex Styles
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: stretch;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    //Flex styles
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
 background-color: green;
 flex: 1;
 height: 70rem;
}
