body {
    display: flex;
        align-items: center;
        justify-content: center;
}

.container {
    background-color: var(--color-grey-light-2);
    box-shadow: var(--default-shadow);
    height: 50rem;
    flex: 0 1 80%;
    flex-wrap: wrap;

}

.header {
    background-color: var(--color-grey-dark-1);
    height: 7rem;
    flex: 0 0 100%;
}

.content {
    display: flex;
    align-items: stretch; 
}

.sidebar {
    background-color: lightblue;
    flex: 0 0 20%;
}

.hotel-view {
 background-color: green;
 flex: 1;
}
